<a href="https://colab.research.google.com/github/SkySssw/Coursera_Capstone/blob/main/The_Battle_of_Neighborhoods_Home_Prices_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# The Battle of Neighborhoods

# The Battle of Neighborhoods

## Introduction to business problem

Nowaday, the home price in each big cities are rising. So, I would like to know how relation between venues and home price in the city. I choose Toronto and Montreal which are big cities in Canada in this situation.

## The data and how it will be used to solve the problem

To analyze this problem , I needed home prices data and location data. I obtain location data by using  'Geospatial_Coordinates.csv' form last project to get Toronto coordinates. For Montreal coordinates, I download csv file from '//simplemaps.com/data/canada-cities' and I used Forsquare API to get venues of Toronto and Montreal.

In [2]:
!pip install beautifulsoup4
!pip3 install wikipedia
!apt-get install python3-bs4 (for Python 3)
!pip install geocoder
import geocoder # import geocoder
import requests as rq #library to handle requests
import pandas as pd
import numpy as np
import wikipedia as wiki
from bs4 import BeautifulSoup #library to parse html doc
# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

print('download completed!')

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)
Collecting wikipedia
  Downloading https://files.pythonhosted.org/packages/67/35/25e68fbc99e672127cc6fbb14b8ec1ba3dfef035bf1e4c90f78f24a80b7d/wikipedia-1.4.0.tar.gz
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from wikipedia) (4.6.3)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from wikipedia) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.10)
Building wheels for collected packages: wikipedia
  Building wheel for wikipedia (setup.py) ... done
  Created wheel for wikipedia: filename=wikipedia-1.4.0-cp37-none-any.whl size=11697 sha256=c47a8d547f3eacfed0efdc3cefeb45c3549651be56be947f1631c3edce54ca36
  Stored in directory: /root/.cache/pip/wheels/87/2a/18/4e471fd96d12114d16fe4a446d00c3b38fb9efcb744bd31f4a
Successfully built wikipedia
Installing collected packages: wikipedia
Successfully installed wikipedia-1.4.0
/bin/bash: -c: line 0: syntax error near unexpected token `('
/bin/bash: -c: line 0: `apt-get install python3-bs4 (for Python 3)'
Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
     |████████████████████████████████| 102kB 6.0MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from geocoder) (2.23.0)
Collecting ratelim
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from geocoder) (1.15.0)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from geocoder) (0.16.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from geocoder) (7.1.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (2.10)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ratelim->geocoder) (4.4.2)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6
download completed!

In [4]:
housing = pd.read_csv('/content/wellbeing-toronto-housing-excel2.csv')
housing.head()

                       Neighbourhood  ...  Social Housing Waiting List
0             West Humber-Clairville  ...                        557.0
1  Mount Olive-Silverstone-Jamestown  ...                       1049.0
2       Thistletown-Beaumond Heights  ...                        270.0
3                    Rexdale-Kipling  ...                        186.0
4                   Elms-Old Rexdale  ...                        239.0

[5 rows x 10 columns]

In [5]:
housing = housing.rename(columns={'Neighbourhood':'Neighborhood'})
housing

                          Neighborhood  ...  Social Housing Waiting List
0               West Humber-Clairville  ...                        557.0
1    Mount Olive-Silverstone-Jamestown  ...                       1049.0
2         Thistletown-Beaumond Heights  ...                        270.0
3                      Rexdale-Kipling  ...                        186.0
4                     Elms-Old Rexdale  ...                        239.0
..                                 ...  ...                          ...
135                          West Hill  ...                        725.0
136                             Woburn  ...                       1306.0
137                      Eglinton East  ...                        688.0
138                Scarborough Village  ...                        683.0
139                          Guildwood  ...                         62.0

[140 rows x 10 columns]

In [6]:
urk_wiki = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
table_class = "wikitable sortable jquery-tablesorter"
response = rq.get(urk_wiki)
print(response.status_code) # check if it shows '200', so it's legal to use data

200

In [7]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text, 'html.parser')

In [8]:
table_contents=[]
table=soup.find('table')
for row in table.findAll('td'):
    cell = {}
    if row.span.text=='Not assigned':
        pass
    else:
        cell['PostalCode'] = row.p.text[:3]
        cell['Borough'] = (row.span.text).split('(')[0]
        cell['Neighborhood'] = (((((row.span.text).split('(')[1]).strip(')')).replace(' /',',')).replace(')',' ')).strip(' ')
        table_contents.append(cell)

# print(table_contents)
df=pd.DataFrame(table_contents)
df['Borough']=df['Borough'].replace({'Downtown TorontoStn A PO Boxes25 The Esplanade':'Downtown Toronto Stn A',
                                             'East TorontoBusiness reply mail Processing Centre969 Eastern':'East Toronto Business',
                                             'EtobicokeNorthwest':'Etobicoke Northwest','East YorkEast Toronto':'East York/East Toronto',
                                             'MississaugaCanada Post Gateway Processing Centre':'Mississauga'})
toronto_data = df
toronto_data

    PostalCode  ...                                       Neighborhood
0          M3A  ...                                          Parkwoods
1          M4A  ...                                   Victoria Village
2          M5A  ...                          Regent Park, Harbourfront
3          M6A  ...                   Lawrence Manor, Lawrence Heights
4          M7A  ...                      Ontario Provincial Government
..         ...  ...                                                ...
98         M8X  ...      The Kingsway, Montgomery Road, Old Mill North
99         M4Y  ...                               Church and Wellesley
100        M7Y  ...                                     Enclave of M4L
101        M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
102        M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

Use Geospatial Coordinates file from previous project.

In [10]:
geo = pd.read_csv('/content/Geospatial_Coordinates.csv')
geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [11]:
geo['PostalCode'] = geo['Postal Code']

In [12]:
toronto_data_merge = toronto_data.merge(geo,how='left',on='PostalCode')
toronto_data_merge

    PostalCode                Borough  ...   Latitude  Longitude
0          M3A             North York  ...  43.753259 -79.329656
1          M4A             North York  ...  43.725882 -79.315572
2          M5A       Downtown Toronto  ...  43.654260 -79.360636
3          M6A             North York  ...  43.718518 -79.464763
4          M7A           Queen's Park  ...  43.662301 -79.389494
..         ...                    ...  ...        ...        ...
98         M8X              Etobicoke  ...  43.653654 -79.506944
99         M4Y       Downtown Toronto  ...  43.665860 -79.383160
100        M7Y  East Toronto Business  ...  43.662744 -79.321558
101        M8Y              Etobicoke  ...  43.636258 -79.498509
102        M8Z              Etobicoke  ...  43.628841 -79.520999

[103 rows x 6 columns]

In [13]:
toronto_data_merge=toronto_data_merge.drop(['Postal Code','PostalCode'], axis= 1)

In [14]:
toronto_data_merge.head()

            Borough                      Neighborhood   Latitude  Longitude
0        North York                         Parkwoods  43.753259 -79.329656
1        North York                  Victoria Village  43.725882 -79.315572
2  Downtown Toronto         Regent Park, Harbourfront  43.654260 -79.360636
3        North York  Lawrence Manor, Lawrence Heights  43.718518 -79.464763
4      Queen's Park     Ontario Provincial Government  43.662301 -79.389494

In [15]:
Neighborhood_new = []
for x in toronto_data_merge['Neighborhood']:
    temp = x.split(',')
    Neighborhood_new.append(temp[0])
Neighborhood_new

['Parkwoods',
 'Victoria Village',
 'Regent Park',
 'Lawrence Manor',
 'Ontario Provincial Government',
 'Islington Avenue',
 'Malvern',
 'Don Mills North',
 'Parkview Hill',
 'Garden District',
 'Glencairn',
 'West Deane Park',
 'Rouge Hill',
 'Don Mills South',
 'Woodbine Heights',
 'St. James Town',
 'Humewood-Cedarvale',
 'Eringate',
 'Guildwood',
 'The Beaches',
 'Berczy Park',
 'Caledonia-Fairbanks',
 'Woburn',
 'Leaside',
 'Central Bay Street',
 'Christie',
 'Cedarbrae',
 'Hillcrest Village',
 'Bathurst Manor',
 'Thorncliffe Park',
 'Richmond',
 'Dufferin',
 'Scarborough Village',
 'Fairview',
 'Northwood Park',
 'The Danforth  East',
 'Harbourfront East',
 'Little Portugal',
 'Kennedy Park',
 'Bayview Village',
 'Downsview East',
 'The Danforth West',
 'Toronto Dominion Centre',
 'Brockton',
 'Golden Mile',
 'York Mills',
 'Downsview West',
 'India Bazaar',
 'Commerce Court',
 'North Park',
 'Humber Summit',
 'Cliffside',
 'Willowdale',
 'Downsview Central',
 'Studio District',
 'Bedford Park',
 'Del Ray',
 'Humberlea',
 'Birch Cliff',
 'Willowdale South',
 'Downsview Northwest',
 'Lawrence Park',
 'Roselawn',
 'Runnymede',
 'Weston',
 'Dorset Park',
 'York Mills West',
 'Davisville North',
 'Forest Hill North & West',
 'High Park',
 'Westmount',
 'Wexford',
 'Willowdale West',
 'North Toronto West',
 'The Annex',
 'Parkdale',
 'Enclave of L4W',
 'Kingsview Village',
 'Agincourt',
 'Davisville',
 'University of Toronto',
 'Runnymede',
 'Clarks Corners',
 'Moore Park',
 'Kensington Market',
 'Milliken',
 'Summerhill West',
 'CN Tower',
 'New Toronto',
 'South Steeles',
 'Steeles West',
 'Rosedale',
 'Enclave of M5E',
 'Alderwood',
 'Clairville',
 'Upper Rouge',
 'St. James Town',
 'First Canadian Place',
 'The Kingsway',
 'Church and Wellesley',
 'Enclave of M4L',
 'Old Mill South',
 'Mimico NW']

In [16]:
toronto_data_merge['Neighborhood'] = Neighborhood_new
toronto_data_merge.head()

            Borough                   Neighborhood   Latitude  Longitude
0        North York                      Parkwoods  43.753259 -79.329656
1        North York               Victoria Village  43.725882 -79.315572
2  Downtown Toronto                    Regent Park  43.654260 -79.360636
3        North York                 Lawrence Manor  43.718518 -79.464763
4      Queen's Park  Ontario Provincial Government  43.662301 -79.389494

In [17]:
toronto_data_merge.head()

            Borough                   Neighborhood   Latitude  Longitude
0        North York                      Parkwoods  43.753259 -79.329656
1        North York               Victoria Village  43.725882 -79.315572
2  Downtown Toronto                    Regent Park  43.654260 -79.360636
3        North York                 Lawrence Manor  43.718518 -79.464763
4      Queen's Park  Ontario Provincial Government  43.662301 -79.389494

In [18]:
housing

                          Neighborhood  ...  Social Housing Waiting List
0               West Humber-Clairville  ...                        557.0
1    Mount Olive-Silverstone-Jamestown  ...                       1049.0
2         Thistletown-Beaumond Heights  ...                        270.0
3                      Rexdale-Kipling  ...                        186.0
4                     Elms-Old Rexdale  ...                        239.0
..                                 ...  ...                          ...
135                          West Hill  ...                        725.0
136                             Woburn  ...                       1306.0
137                      Eglinton East  ...                        688.0
138                Scarborough Village  ...                        683.0
139                          Guildwood  ...                         62.0

[140 rows x 10 columns]

In [19]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 10 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Neighborhood                             140 non-null    object
 1   Home Prices                              140 non-null    float64
 2   Mid-Century Highrise Households          140 non-null    float64
 3   Mid-Century Highrise Population          140 non-null    float64
 4   Percent Mid-Century Highrise Households  140 non-null    float64
 5   Percent Mid-Century Highrise Population  140 non-null    float64
 6   Rent Bank Applicants                     140 non-null    float64
 7   Social Housing Turnover                  140 non-null    float64
 8   Social Housing Units                     140 non-null    float64
 9   Social Housing Waiting List              140 non-null    float64
dtypes: float64(9), object(1)
memory usage: 11.1+ KB

Merging data to have a Home prices data for each neighborhood.

In [20]:
toronto_housing = toronto_data_merge.merge(housing,how='left',on='Neighborhood')
toronto_housing

                   Borough  ... Social Housing Waiting List
0               North York  ...                         NaN
1               North York  ...                       459.0
2         Downtown Toronto  ...                       650.0
3               North York  ...                         NaN
4             Queen's Park  ...                         NaN
..                     ...  ...                         ...
98               Etobicoke  ...                         NaN
99        Downtown Toronto  ...                         NaN
100  East Toronto Business  ...                         NaN
101              Etobicoke  ...                         NaN
102              Etobicoke  ...                         NaN

[103 rows x 13 columns]

In [21]:
toronto_housing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 0 to 102
Data columns (total 13 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Borough                                  103 non-null    object
 1   Neighborhood                             103 non-null    object
 2   Latitude                                 103 non-null    float64
 3   Longitude                                103 non-null    float64
 4   Home Prices                              21 non-null     float64
 5   Mid-Century Highrise Households          21 non-null     float64
 6   Mid-Century Highrise Population          21 non-null     float64
 7   Percent Mid-Century Highrise Households  21 non-null     float64
 8   Percent Mid-Century Highrise Population  21 non-null     float64
 9   Rent Bank Applicants                     21 non-null     float64
 10  Social Housing Turnover                  21 non-null     float64
 11  Social Housing Units                     21 non-null     float64
 12  Social Housing Waiting List              21 non-null     float64
dtypes: float64(11), object(2)
memory usage: 11.3+ KB

In [22]:
toronto_housing = toronto_housing.fillna(0)

In [23]:
toronto_housing.head()

            Borough  ... Social Housing Waiting List
0        North York  ...                         0.0
1        North York  ...                       459.0
2  Downtown Toronto  ...                       650.0
3        North York  ...                         0.0
4      Queen's Park  ...                         0.0

[5 rows x 13 columns]

Select column which Home Prices are more than zero.

In [24]:
toronto_housing_final=toronto_housing[toronto_housing['Home Prices']>0]

toronto_housing_final

             Borough  ... Social Housing Waiting List
1         North York  ...                       459.0
2   Downtown Toronto  ...                       650.0
6        Scarborough  ...                       851.0
16              York  ...                       247.0
18       Scarborough  ...                        62.0
19      East Toronto  ...                       143.0
22       Scarborough  ...                      1306.0
27        North York  ...                       252.0
28        North York  ...                       232.0
29         East York  ...                      1105.0
32       Scarborough  ...                       683.0
37      West Toronto  ...                       239.0
38       Scarborough  ...                       540.0
39        North York  ...                       178.0
50        North York  ...                       204.0
64              York  ...                       814.0
65       Scarborough  ...                       515.0
72        North York  ...                       176.0
85       Scarborough  ...                       404.0
88         Etobicoke  ...                       389.0
93         Etobicoke  ...                        69.0

[21 rows x 13 columns]

In [25]:
toronto_housing_final.reset_index(drop=True)

             Borough  ... Social Housing Waiting List
0         North York  ...                       459.0
1   Downtown Toronto  ...                       650.0
2        Scarborough  ...                       851.0
3               York  ...                       247.0
4        Scarborough  ...                        62.0
5       East Toronto  ...                       143.0
6        Scarborough  ...                      1306.0
7         North York  ...                       252.0
8         North York  ...                       232.0
9          East York  ...                      1105.0
10       Scarborough  ...                       683.0
11      West Toronto  ...                       239.0
12       Scarborough  ...                       540.0
13        North York  ...                       178.0
14        North York  ...                       204.0
15              York  ...                       814.0
16       Scarborough  ...                       515.0
17        North York  ...                       176.0
18       Scarborough  ...                       404.0
19         Etobicoke  ...                       389.0
20         Etobicoke  ...                        69.0

[21 rows x 13 columns]

In [26]:
toronto_housing_final = toronto_housing_final.reset_index(drop=True)

In [27]:
!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim

/bin/bash: conda: command not found

In [28]:
address = 'Toronto, TO'

geolocator = Nominatim(user_agent="to_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Toronto are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Toronto are 43.65238435, -79.38356765.

In [29]:
# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

In [30]:
map_toronto = folium.Map(location=[latitude, longitude], zoom_start=11)

# add markers to map
for lat, lng, label in zip(toronto_housing_final['Latitude'], toronto_housing_final['Longitude'], toronto_housing_final['Neighborhood']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_toronto)  
    
map_toronto

In [31]:
CLIENT_ID = '5WW4JYUW5SMINYV0A2B0AWIBNOOF13K3MV4JS5SBHKZQVZCN' # your Foursquare ID
CLIENT_SECRET = 'UB2Z34VR2VZCWIE3WQXFY3BYHL3MUTPRJRRSR3AHGNMU1RSX' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version
LIMIT = 100 # A default Foursquare API limit value

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: 5WW4JYUW5SMINYV0A2B0AWIBNOOF13K3MV4JS5SBHKZQVZCN
CLIENT_SECRET:UB2Z34VR2VZCWIE3WQXFY3BYHL3MUTPRJRRSR3AHGNMU1RSX

In [32]:
toronto_housing_final.loc[0,"Neighborhood"]

'Victoria Village'

In [33]:
neighborhood_latitude = toronto_housing_final.loc[0, 'Latitude'] # neighborhood latitude value
neighborhood_longitude = toronto_housing_final.loc[0, 'Longitude'] # neighborhood longitude value

neighborhood_name = toronto_housing_final.loc[0, 'Neighborhood'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighborhood_name, 
                                                               neighborhood_latitude, 
                                                               neighborhood_longitude))

Latitude and longitude values of Victoria Village are 43.725882299999995, -79.31557159999998.

In [34]:
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 500 # define radius

# create URL
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)
url # display URL

'https://api.foursquare.com/v2/venues/explore?&client_id=5WW4JYUW5SMINYV0A2B0AWIBNOOF13K3MV4JS5SBHKZQVZCN&client_secret=UB2Z34VR2VZCWIE3WQXFY3BYHL3MUTPRJRRSR3AHGNMU1RSX&v=20180605&ll=43.725882299999995,-79.31557159999998&radius=500&limit=100'

In [35]:
results = rq.get(url).json()
results

{'meta': {'code': 200, 'requestId': '60e3083c890aaa1091821846'},
 'response': {'groups': [{'items': [{'reasons': {'count': 0,
       'items': [{'reasonName': 'globalInteractionReason',
         'summary': 'This spot is popular',
         'type': 'general'}]},
      'referralId': 'e-0-4c633acb86b6be9a61268e34-0',
      'venue': {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/arts_entertainment/stadium_hockey_',
          'suffix': '.png'},
         'id': '4bf58dd8d48988d185941735',
         'name': 'Hockey Arena',
         'pluralName': 'Hockey Arenas',
         'primary': True,
         'shortName': 'Hockey'}],
       'id': '4c633acb86b6be9a61268e34',
       'location': {'cc': 'CA',
        'country': 'Canada',
        'distance': 267,
        'formattedAddress': ['Canada'],
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.72348055545508,
          'lng': -79.31563520925143}],
        'lat': 43.72348055545508,
        'lng': -79.31563520925143},
       'name': 'Victoria Village Arena',
       'photos': {'count': 0, 'groups': []}}},
     {'reasons': {'count': 0,
       'items': [{'reasonName': 'globalInteractionReason',
         'summary': 'This spot is popular',
         'type': 'general'}]},
      'referralId': 'e-0-4f3ecce6e4b0587016b6f30d-1',
      'venue': {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/portuguese_',
          'suffix': '.png'},
         'id': '4def73e84765ae376e57713a',
         'name': 'Portuguese Restaurant',
         'pluralName': 'Portuguese Restaurants',
         'primary': True,
         'shortName': 'Portuguese'}],
       'id': '4f3ecce6e4b0587016b6f30d',
       'location': {'address': '1733 Eglinton Avenue East',
        'cc': 'CA',
        'city': 'Toronto',
        'country': 'Canada',
        'crossStreet': 'Bermondsey',
        'distance': 224,
        'formattedAddress': ['1733 Eglinton Avenue East (Bermondsey)',
         'Toronto ON',
         'Canada'],
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.72581876267242,
          'lng': -79.31278541470671}],
        'lat': 43.72581876267242,
        'lng': -79.31278541470671,
        'state': 'ON'},
       'name': 'Portugril',
       'photos': {'count': 0, 'groups': []}}},
     {'reasons': {'count': 0,
       'items': [{'reasonName': 'globalInteractionReason',
         'summary': 'This spot is popular',
         'type': 'general'}]},
      'referralId': 'e-0-4bbe904a85fbb713420d7167-2',
      'venue': {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
          'suffix': '.png'},
         'id': '4bf58dd8d48988d1e0931735',
         'name': 'Coffee Shop',
         'pluralName': 'Coffee Shops',
         'primary': True,
         'shortName': 'Coffee Shop'}],
       'id': '4bbe904a85fbb713420d7167',
       'location': {'address': '1733 Eglinton Ave East',
        'cc': 'CA',
        'city': 'Toronto',
        'country': 'Canada',
        'crossStreet': 'at Bermondsey Rd',
        'distance': 202,
        'formattedAddress': ['1733 Eglinton Ave East (at Bermondsey Rd)',
         'Toronto ON M4A 1J8',
         'Canada'],
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.725516631714754,
          'lng': -79.31310251366091}],
        'lat': 43.725516631714754,
        'lng': -79.31310251366091,
        'postalCode': 'M4A 1J8',
        'state': 'ON'},
       'name': 'Tim Hortons',
       'photos': {'count': 0, 'groups': []}}},
     {'reasons': {'count': 0,
       'items': [{'reasonName': 'globalInteractionReason',
         'summary': 'This spot is popular',
         'type': 'general'}]},
      'referralId': 'e-0-4b8fe578f964a520106833e3-3',
      'venue': {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/pizza_',
          'suffix': '.png'},
         'id': '4bf58dd8d48988d1ca941735',
         'name': 'Pizza Place',
         'pluralName': 'Pizza Places',
         'primary': True,
         'shortName': 'Pizza'}],
       'id': '4b8fe578f964a520106833e3',
       'location': {'address': '1733 Eglinton Ave. E',
        'cc': 'CA',
        'city': 'Toronto',
        'country': 'Canada',
        'crossStreet': 'at Bermondsey Rd.',
        'distance': 218,
        'formattedAddress': ['1733 Eglinton Ave. E (at Bermondsey Rd.)',
         'Toronto ON M4A 1J8',
         'Canada'],
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.725823726352196,
          'lng': -79.31286041792907}],
        'lat': 43.725823726352196,
        'lng': -79.31286041792907,
        'postalCode': 'M4A 1J8',
        'state': 'ON'},
       'name': 'Pizza Nova',
       'photos': {'count': 0, 'groups': []}}}],
    'name': 'recommended',
    'type': 'Recommended Places'}],
  'headerFullLocation': 'Bermondsey, Toronto',
  'headerLocation': 'Bermondsey',
  'headerLocationGranularity': 'neighborhood',
  'suggestedBounds': {'ne': {'lat': 43.7303823045, 'lng': -79.30935618239715},
   'sw': {'lat': 43.72138229549999, 'lng': -79.32178701760282}},
  'totalResults': 4}}

In [36]:
import json

In [37]:
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [38]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = pd.json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues

                     name             categories        lat        lng
0  Victoria Village Arena           Hockey Arena  43.723481 -79.315635
1               Portugril  Portuguese Restaurant  43.725819 -79.312785
2             Tim Hortons            Coffee Shop  43.725517 -79.313103
3              Pizza Nova            Pizza Place  43.725824 -79.312860

In [39]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

4 venues were returned by Foursquare.

In [40]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = rq.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [41]:
toronto_venues = getNearbyVenues(names=toronto_housing_final['Neighborhood'],
                                   latitudes=toronto_housing_final['Latitude'],
                                   longitudes=toronto_housing_final['Longitude']
                                  )

Victoria Village
Regent Park
Malvern
Humewood-Cedarvale
Guildwood
The Beaches
Woburn
Hillcrest Village
Bathurst Manor
Thorncliffe Park
Scarborough Village
Little Portugal
Kennedy Park
Bayview Village
Humber Summit
Weston
Dorset Park
Willowdale West
Milliken
New Toronto
Alderwood

In [42]:
print(toronto_venues.shape)
toronto_venues.head()

(208, 7)

       Neighborhood  ...         Venue Category
0  Victoria Village  ...           Hockey Arena
1  Victoria Village  ...  Portuguese Restaurant
2  Victoria Village  ...            Coffee Shop
3  Victoria Village  ...            Pizza Place
4       Regent Park  ...            Coffee Shop

[5 rows x 7 columns]

In [43]:
toronto_venues_home_price = toronto_venues.merge(toronto_housing_final,how='left',on='Neighborhood')
toronto_venues_home_price

         Neighborhood  ...  Social Housing Waiting List
0    Victoria Village  ...                        459.0
1    Victoria Village  ...                        459.0
2    Victoria Village  ...                        459.0
3    Victoria Village  ...                        459.0
4         Regent Park  ...                        650.0
..                ...  ...                          ...
203         Alderwood  ...                         69.0
204         Alderwood  ...                         69.0
205         Alderwood  ...                         69.0
206         Alderwood  ...                         69.0
207         Alderwood  ...                         69.0

[208 rows x 19 columns]

In [44]:
toronto_venues.groupby('Neighborhood').count()

                     Neighborhood Latitude  ...  Venue Category
Neighborhood                                ...
Alderwood                                8  ...               8
Bathurst Manor                          22  ...              22
Bayview Village                          4  ...               4
Dorset Park                              5  ...               5
Guildwood                                9  ...               9
Hillcrest Village                        6  ...               6
Humber Summit                            1  ...               1
Humewood-Cedarvale                       4  ...               4
Kennedy Park                             6  ...               6
Little Portugal                         42  ...              42
Malvern                                  1  ...               1
Milliken                                 3  ...               3
New Toronto                              9  ...               9
Regent Park                             45  ...              45
Scarborough Village                      1  ...               1
The Beaches                              4  ...               4
Thorncliffe Park                        22  ...              22
Victoria Village                         4  ...               4
Weston                                   3  ...               3
Willowdale West                          6  ...               6
Woburn                                   3  ...               3

[21 rows x 6 columns]

In [45]:
print('There are {} uniques categories.'.format(len(toronto_venues['Venue Category'].unique())))

There are 97 uniques categories.

In [46]:
# one hot encoding
toronto_onehot = pd.get_dummies(toronto_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
toronto_onehot['Neighborhood'] = toronto_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [toronto_onehot.columns[-1]] + list(toronto_onehot.columns[:-1])
toronto_onehot = toronto_onehot[fixed_columns]

toronto_onehot

     Yoga Studio  Antique Shop  ...  Wine Bar  Wine Shop
0              0             0  ...         0          0
1              0             0  ...         0          0
2              0             0  ...         0          0
3              0             0  ...         0          0
4              0             0  ...         0          0
..           ...           ...  ...       ...        ...
203            0             0  ...         0          0
204            0             0  ...         0          0
205            0             0  ...         0          0
206            0             0  ...         0          0
207            0             0  ...         0          0

[208 rows x 97 columns]

In [47]:
toronto_onehot.shape

(208, 97)

In [48]:
toronto_onehot_home_price = toronto_onehot.merge(toronto_housing_final[['Neighborhood','Home Prices']], how='left',on='Neighborhood')
toronto_onehot_home_price

     Yoga Studio  Antique Shop  Art Gallery  ...  Wine Bar  Wine Shop  Home Prices
0              0             0            0  ...         0          0     365107.0
1              0             0            0  ...         0          0     365107.0
2              0             0            0  ...         0          0     365107.0
3              0             0            0  ...         0          0     365107.0
4              0             0            0  ...         0          0     484444.0
..           ...           ...          ...  ...       ...        ...          ...
203            0             0            0  ...         0          0     504233.0
204            0             0            0  ...         0          0     504233.0
205            0             0            0  ...         0          0     504233.0
206            0             0            0  ...         0          0     504233.0
207            0             0            0  ...         0          0     504233.0

[208 rows x 98 columns]

In [49]:
toronto_grouped = toronto_onehot.groupby('Neighborhood').mean().reset_index()
toronto_grouped

           Neighborhood  Yoga Studio  ...  Wine Bar  Wine Shop
0             Alderwood     0.000000  ...   0.00000   0.000000
1        Bathurst Manor     0.000000  ...   0.00000   0.000000
2       Bayview Village     0.000000  ...   0.00000   0.000000
3           Dorset Park     0.000000  ...   0.00000   0.000000
4             Guildwood     0.000000  ...   0.00000   0.000000
5     Hillcrest Village     0.000000  ...   0.00000   0.000000
6         Humber Summit     0.000000  ...   0.00000   0.000000
7    Humewood-Cedarvale     0.000000  ...   0.00000   0.000000
8          Kennedy Park     0.000000  ...   0.00000   0.000000
9       Little Portugal     0.023810  ...   0.02381   0.000000
10              Malvern     0.000000  ...   0.00000   0.000000
11             Milliken     0.000000  ...   0.00000   0.000000
12          New Toronto     0.000000  ...   0.00000   0.000000
13          Regent Park     0.022222  ...   0.00000   0.022222
14  Scarborough Village     0.000000  ...   0.00000   0.000000
15          The Beaches     0.000000  ...   0.00000   0.000000
16     Thorncliffe Park     0.045455  ...   0.00000   0.000000
17     Victoria Village     0.000000  ...   0.00000   0.000000
18               Weston     0.000000  ...   0.00000   0.000000
19      Willowdale West     0.000000  ...   0.00000   0.000000
20               Woburn     0.000000  ...   0.00000   0.000000

[21 rows x 97 columns]

In [50]:
address = 'Quebec, QC'

geolocator = Nominatim(user_agent="qc_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Montreal are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Montreal are 46.8259601, -71.2352226.

In [51]:
#Montreal Location
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 500 # define radius

# create URL
url_qc = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)
url_qc # display URL

'https://api.foursquare.com/v2/venues/explore?&client_id=5WW4JYUW5SMINYV0A2B0AWIBNOOF13K3MV4JS5SBHKZQVZCN&client_secret=UB2Z34VR2VZCWIE3WQXFY3BYHL3MUTPRJRRSR3AHGNMU1RSX&v=20180605&ll=43.725882299999995,-79.31557159999998&radius=500&limit=100'

In [52]:
results_qc = rq.get(url_qc).json()
results_qc

{'meta': {'code': 200, 'requestId': '60e3087c8492d9498305afe5'},
 'response': {'groups': [{'items': [{'reasons': {'count': 0,
       'items': [{'reasonName': 'globalInteractionReason',
         'summary': 'This spot is popular',
         'type': 'general'}]},
      'referralId': 'e-0-4c633acb86b6be9a61268e34-0',
      'venue': {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/arts_entertainment/stadium_hockey_',
          'suffix': '.png'},
         'id': '4bf58dd8d48988d185941735',
         'name': 'Hockey Arena',
         'pluralName': 'Hockey Arenas',
         'primary': True,
         'shortName': 'Hockey'}],
       'id': '4c633acb86b6be9a61268e34',
       'location': {'cc': 'CA',
        'country': 'Canada',
        'distance': 267,
        'formattedAddress': ['Canada'],
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.72348055545508,
          'lng': -79.31563520925143}],
        'lat': 43.72348055545508,
        'lng': -79.31563520925143},
       'name': 'Victoria Village Arena',
       'photos': {'count': 0, 'groups': []}}},
     {'reasons': {'count': 0,
       'items': [{'reasonName': 'globalInteractionReason',
         'summary': 'This spot is popular',
         'type': 'general'}]},
      'referralId': 'e-0-4f3ecce6e4b0587016b6f30d-1',
      'venue': {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/portuguese_',
          'suffix': '.png'},
         'id': '4def73e84765ae376e57713a',
         'name': 'Portuguese Restaurant',
         'pluralName': 'Portuguese Restaurants',
         'primary': True,
         'shortName': 'Portuguese'}],
       'id': '4f3ecce6e4b0587016b6f30d',
       'location': {'address': '1733 Eglinton Avenue East',
        'cc': 'CA',
        'city': 'Toronto',
        'country': 'Canada',
        'crossStreet': 'Bermondsey',
        'distance': 224,
        'formattedAddress': ['1733 Eglinton Avenue East (Bermondsey)',
         'Toronto ON',
         'Canada'],
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.72581876267242,
          'lng': -79.31278541470671}],
        'lat': 43.72581876267242,
        'lng': -79.31278541470671,
        'state': 'ON'},
       'name': 'Portugril',
       'photos': {'count': 0, 'groups': []}}},
     {'reasons': {'count': 0,
       'items': [{'reasonName': 'globalInteractionReason',
         'summary': 'This spot is popular',
         'type': 'general'}]},
      'referralId': 'e-0-4bbe904a85fbb713420d7167-2',
      'venue': {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
          'suffix': '.png'},
         'id': '4bf58dd8d48988d1e0931735',
         'name': 'Coffee Shop',
         'pluralName': 'Coffee Shops',
         'primary': True,
         'shortName': 'Coffee Shop'}],
       'id': '4bbe904a85fbb713420d7167',
       'location': {'address': '1733 Eglinton Ave East',
        'cc': 'CA',
        'city': 'Toronto',
        'country': 'Canada',
        'crossStreet': 'at Bermondsey Rd',
        'distance': 202,
        'formattedAddress': ['1733 Eglinton Ave East (at Bermondsey Rd)',
         'Toronto ON M4A 1J8',
         'Canada'],
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.725516631714754,
          'lng': -79.31310251366091}],
        'lat': 43.725516631714754,
        'lng': -79.31310251366091,
        'postalCode': 'M4A 1J8',
        'state': 'ON'},
       'name': 'Tim Hortons',
       'photos': {'count': 0, 'groups': []}}},
     {'reasons': {'count': 0,
       'items': [{'reasonName': 'globalInteractionReason',
         'summary': 'This spot is popular',
         'type': 'general'}]},
      'referralId': 'e-0-4b8fe578f964a520106833e3-3',
      'venue': {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/pizza_',
          'suffix': '.png'},
         'id': '4bf58dd8d48988d1ca941735',
         'name': 'Pizza Place',
         'pluralName': 'Pizza Places',
         'primary': True,
         'shortName': 'Pizza'}],
       'id': '4b8fe578f964a520106833e3',
       'location': {'address': '1733 Eglinton Ave. E',
        'cc': 'CA',
        'city': 'Toronto',
        'country': 'Canada',
        'crossStreet': 'at Bermondsey Rd.',
        'distance': 218,
        'formattedAddress': ['1733 Eglinton Ave. E (at Bermondsey Rd.)',
         'Toronto ON M4A 1J8',
         'Canada'],
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.725823726352196,
          'lng': -79.31286041792907}],
        'lat': 43.725823726352196,
        'lng': -79.31286041792907,
        'postalCode': 'M4A 1J8',
        'state': 'ON'},
       'name': 'Pizza Nova',
       'photos': {'count': 0, 'groups': []}}}],
    'name': 'recommended',
    'type': 'Recommended Places'}],
  'headerFullLocation': 'Bermondsey, Toronto',
  'headerLocation': 'Bermondsey',
  'headerLocationGranularity': 'neighborhood',
  'suggestedBounds': {'ne': {'lat': 43.7303823045, 'lng': -79.30935618239715},
   'sw': {'lat': 43.72138229549999, 'lng': -79.32178701760282}},
  'totalResults': 4}}

In [53]:
venues_qc = results_qc['response']['groups'][0]['items']
    
nearby_venues_qc = pd.json_normalize(venues_qc) # flatten JSON

# filter columns
filtered_columns_qc = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues_qc =nearby_venues_qc.loc[:, filtered_columns]

# filter the category for each row
nearby_venues_qc['venue.categories'] = nearby_venues_qc.apply(get_category_type, axis=1)

# clean columns
nearby_venues_qc.columns = [col.split(".")[-1] for col in nearby_venues_qc.columns]

nearby_venues_qc

                     name             categories        lat        lng
0  Victoria Village Arena           Hockey Arena  43.723481 -79.315635
1               Portugril  Portuguese Restaurant  43.725819 -79.312785
2             Tim Hortons            Coffee Shop  43.725517 -79.313103
3              Pizza Nova            Pizza Place  43.725824 -79.312860

In [54]:
print('{} venues were returned by Foursquare.'.format(nearby_venues_qc.shape[0]))

4 venues were returned by Foursquare.

In [56]:
# https://simplemaps.com/data/canada-cities

cnd = pd.read_csv('/content/canadacities.csv')
cnd.head()

        city  ...          id
0    Toronto  ...  1124279679
1   Montréal  ...  1124586170
2  Vancouver  ...  1124825478
3    Calgary  ...  1124690423
4   Edmonton  ...  1124290735

[5 rows x 12 columns]

In [57]:
cnd_qc = cnd[cnd['province_name']=='Quebec']
cnd_qc.head()

           city  ...          id
1      Montréal  ...  1124586170
8   Quebec City  ...  1124823933
13        Laval  ...  1124922301
21     Gatineau  ...  1124722129
24    Longueuil  ...  1124122753

[5 rows x 12 columns]

In [58]:
cnd_qc.reset_index(drop=True)

                  city  ...          id
0             Montréal  ...  1124586170
1          Quebec City  ...  1124823933
2                Laval  ...  1124922301
3             Gatineau  ...  1124722129
4            Longueuil  ...  1124122753
..                 ...  ...         ...
634  Saint-Bonaventure  ...  1124324069
635            Brébeuf  ...  1124001084
636     Baie-du-Febvre  ...  1124218916
637         Durham-Sud  ...  1124105436
638          Melbourne  ...  1124850489

[639 rows x 12 columns]

In [59]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list_qc=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url_qc = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results_qc = rq.get(url_qc).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list_qc.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results_qc])

    nearby_venues_qc = pd.DataFrame([item for venues_list_qc in venues_list_qc for item in venues_list_qc])
    nearby_venues_qc.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues_qc)

In [154]:
cnd_qc_mon=cnd_qc[cnd_qc['city']=='Montréal']

In [155]:
qc_venues = getNearbyVenues(names= cnd_qc_mon['city'],
                                   latitudes=cnd_qc_mon['lat'],
                                   longitudes=cnd_qc_mon['lng']
                                  )

Montréal

In [156]:
print(qc_venues.shape)
qc_venues.head()

(42, 7)

  Neighborhood  Neighborhood Latitude  ...  Venue Longitude Venue Category
0     Montréal                45.5089  ...       -73.564077         Bakery
1     Montréal                45.5089  ...       -73.561218   Cocktail Bar
2     Montréal                45.5089  ...       -73.562654    Music Venue
3     Montréal                45.5089  ...       -73.563710     Boxing Gym
4     Montréal                45.5089  ...       -73.562668     Restaurant

[5 rows x 7 columns]

In [157]:
print('There are {} uniques categories.'.format(len(qc_venues['Venue Category'].unique())))

There are 28 uniques categories.

In [166]:
# one hot encoding
qc_onehot = pd.get_dummies(qc_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
qc_onehot['Neighborhood'] = qc_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [qc_onehot.columns[-1]] + list(qc_onehot.columns[:-1])
qc_onehot = qc_onehot[fixed_columns]

qc_onehot.head()

   Vietnamese Restaurant  ...  Vegetarian / Vegan Restaurant
0                      0  ...                              0
1                      0  ...                              0
2                      0  ...                              0
3                      0  ...                              0
4                      0  ...                              0

[5 rows x 28 columns]

In [159]:
qc_onehot.shape
qc_onehot.info()
qc_onehot['Home Prices'] ="0"
qc_onehot_home_price = qc_onehot

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 28 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Vietnamese Restaurant          42 non-null     uint8
 1   Art Gallery                    42 non-null     uint8
 2   Art Museum                     42 non-null     uint8
 3   Asian Restaurant               42 non-null     uint8
 4   Bakery                         42 non-null     uint8
 5   Boxing Gym                     42 non-null     uint8
 6   Café                           42 non-null     uint8
 7   Chinese Restaurant             42 non-null     uint8
 8   Cocktail Bar                   42 non-null     uint8
 9   Comedy Club                    42 non-null     uint8
 10  Concert Hall                   42 non-null     uint8
 11  Department Store               42 non-null     uint8
 12  Dessert Shop                   42 non-null     uint8
 13  Food Court                     42 non-null     uint8
 14  French Restaurant              42 non-null     uint8
 15  Gastropub                      42 non-null     uint8
 16  Hotel                          42 non-null     uint8
 17  Italian Restaurant             42 non-null     uint8
 18  Japanese Restaurant            42 non-null     uint8
 19  Music Venue                    42 non-null     uint8
 20  Neighborhood                   42 non-null     object
 21  Performing Arts Venue          42 non-null     uint8
 22  Plaza                          42 non-null     uint8
 23  Public Art                     42 non-null     uint8
 24  Restaurant                     42 non-null     uint8
 25  Sports Bar                     42 non-null     uint8
 26  Taco Place                     42 non-null     uint8
 27  Vegetarian / Vegan Restaurant  42 non-null     uint8
dtypes: object(1), uint8(27)
memory usage: 1.6+ KB

In [160]:
qc_onehot_home_price.head()

   Vietnamese Restaurant  ...  Home Prices
0                      0  ...            0
1                      0  ...            0
2                      0  ...            0
3                      0  ...            0
4                      0  ...            0

[5 rows x 29 columns]

In [161]:
qc_grouped = qc_onehot.groupby('Neighborhood').mean().reset_index()
qc_grouped

  Neighborhood  ...  Vegetarian / Vegan Restaurant
0     Montréal  ...                        0.02381

[1 rows x 28 columns]

In [162]:
feat=[]
for x in qc_onehot[:0]:
  feat.append(x)
print(feat)

['Vietnamese Restaurant', 'Art Gallery', 'Art Museum', 'Asian Restaurant', 'Bakery', 'Boxing Gym', 'Café', 'Chinese Restaurant', 'Cocktail Bar', 'Comedy Club', 'Concert Hall', 'Department Store', 'Dessert Shop', 'Food Court', 'French Restaurant', 'Gastropub', 'Hotel', 'Italian Restaurant', 'Japanese Restaurant', 'Music Venue', 'Neighborhood', 'Performing Arts Venue', 'Plaza', 'Public Art', 'Restaurant', 'Sports Bar', 'Taco Place', 'Vegetarian / Vegan Restaurant', 'Home Prices']

### Methodlogy Section
I used Toronto venues and Home Prices to build Multiple linear regression model for predicting home prices in Montreal.

In [167]:
toronto_onehot_home_price[feat]

KeyError: ignored

In [168]:
missing = ['Sports Bar', 'Comedy Club', 'Public Art', 'Boxing Gym', 'Food Court', 'Taco Place', 'Plaza', 'Art Museum', 'Gastropub', 'Music Venue', 'Concert Hall']

In [169]:
for i in missing:
  feat.remove(i)
  #print(i)
feat

['Vietnamese Restaurant',
 'Art Gallery',
 'Asian Restaurant',
 'Bakery',
 'Café',
 'Chinese Restaurant',
 'Cocktail Bar',
 'Department Store',
 'Dessert Shop',
 'French Restaurant',
 'Hotel',
 'Italian Restaurant',
 'Japanese Restaurant',
 'Neighborhood',
 'Performing Arts Venue',
 'Restaurant',
 'Vegetarian / Vegan Restaurant',
 'Home Prices']

In [170]:
Feature = qc_onehot_home_price[feat]

Feature.head()

   Vietnamese Restaurant  ...  Home Prices
0                      0  ...            0
1                      0  ...            0
2                      0  ...            0
3                      0  ...            0
4                      0  ...            0

[5 rows x 18 columns]

In [171]:
Feature=toronto_onehot_home_price[feat].drop('Neighborhood',axis=1)
Feature.head()

   Vietnamese Restaurant  ...  Home Prices
0                      0  ...     365107.0
1                      0  ...     365107.0
2                      0  ...     365107.0
3                      0  ...     365107.0
4                      0  ...     484444.0

[5 rows x 17 columns]

In [134]:
feat

['Vietnamese Restaurant',
 'Art Gallery',
 'Art Museum',
 'Asian Restaurant',
 'Bakery',
 'Café',
 'Chinese Restaurant',
 'Cocktail Bar',
 'Concert Hall',
 'Department Store',
 'Dessert Shop',
 'French Restaurant',
 'Gastropub',
 'Hotel',
 'Italian Restaurant',
 'Japanese Restaurant',
 'Music Venue',
 'Neighborhood',
 'Performing Arts Venue',
 'Plaza',
 'Restaurant',
 'Taco Place',
 'Vegetarian / Vegan Restaurant',
 'Home Prices']

In [97]:
x_real =['Vietnamese Restaurant',
 'Art Gallery',
 'Bakery',
 'Café',
 'Chinese Restaurant',
 'Cocktail Bar',
 'Department Store',
 'Dessert Shop',
 'French Restaurant',
 'Italian Restaurant',
 'Japanese Restaurant',
 'Performing Arts Venue',
 'Restaurant',
 'Vegetarian / Vegan Restaurant']

In [172]:
msk = np.random.rand(len(Feature)) < 0.8
train = Feature[msk]
test = Feature[~msk]

I randomly select data for train and test model!

In [173]:
train.head()

   Vietnamese Restaurant  ...  Home Prices
1                      0  ...     365107.0
2                      0  ...     365107.0
5                      0  ...     484444.0
6                      0  ...     484444.0
7                      0  ...     484444.0

[5 rows x 17 columns]

In [174]:
test.head()

    Vietnamese Restaurant  ...  Home Prices
0                       0  ...     365107.0
3                       0  ...     365107.0
4                       0  ...     484444.0
15                      0  ...     484444.0
22                      0  ...     484444.0

[5 rows x 17 columns]

In [175]:
X = train[x_real]
X = np.asarray(train[x_real])
X[0:5]

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=uint8)

In [176]:
X= preprocessing.StandardScaler().fit(X).transform(X.astype(float))
X[0:5]

array([[-0.13693064, -0.11145564, -0.15861032, -0.19549056, -0.07856742,
        -0.07856742, -0.07856742, -0.07856742, -0.11145564, -0.07856742,
         0.        ,  0.        , -0.21182964, -0.11145564],
       [-0.13693064, -0.11145564, -0.15861032, -0.19549056, -0.07856742,
        -0.07856742, -0.07856742, -0.07856742, -0.11145564, -0.07856742,
         0.        ,  0.        , -0.21182964, -0.11145564],
       [-0.13693064, -0.11145564,  6.30476011, -0.19549056, -0.07856742,
        -0.07856742, -0.07856742, -0.07856742, -0.11145564, -0.07856742,
         0.        ,  0.        , -0.21182964, -0.11145564],
       [-0.13693064, -0.11145564, -0.15861032, -0.19549056, -0.07856742,
        -0.07856742, -0.07856742, -0.07856742, -0.11145564, -0.07856742,
         0.        ,  0.        , -0.21182964, -0.11145564],
       [-0.13693064, -0.11145564, -0.15861032, -0.19549056, -0.07856742,
        -0.07856742, -0.07856742, -0.07856742, -0.11145564, -0.07856742,
         0.        ,  0.        , -0.21182964, -0.11145564]])

In [177]:
y=train['Home Prices']
y=np.asarray(train['Home Prices'])
y[0:5]

array([365107., 365107., 484444., 484444., 484444.])

In [178]:
from sklearn import linear_model
regr = linear_model.LinearRegression()
xx = np.asanyarray(train[x_real])
yy = np.asanyarray(train[['Home Prices']])
regr.fit (xx, yy)
# The coefficients
print ('Coefficients: ', regr.coef_)

Coefficients:  [[ -36620.1969697    26712.13636364    5545.88636364   25794.8030303
  -193800.86363636   41970.13636364 -179389.86363636   11454.13636364
    26712.13636364   41970.13636364       0.               0.
    -1278.57792208   41970.13636364]]

In [179]:
X1=test[x_real]
X1= preprocessing.StandardScaler().fit(X1).transform(X1.astype(float))
X1[0:5]

array([[ 0.        ,  0.        ,  0.        ,  0.        , -0.15075567,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        -0.21566555, -0.15075567,  0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        , -0.15075567,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        -0.21566555, -0.15075567,  0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        , -0.15075567,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        -0.21566555, -0.15075567,  0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        , -0.15075567,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        -0.21566555,  6.63324958,  0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        , -0.15075567,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        -0.21566555, -0.15075567,  0.        ,  0.        ]])

In [180]:
X1 = np.asarray(test[x_real])
X1[0:5]

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=uint8)

In [181]:
y_hat= regr.predict(X1)
x = np.asanyarray(test[x_real])
y = np.asanyarray(test[['Home Prices']])
print("Residual sum of squares: %.2f"
      % np.mean((y_hat - y) ** 2))

 #Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % regr.score(x, y))

Residual sum of squares: 10756956191.57
Variance score: -0.15

### Analysis Discussion

So, This model is not looking good. It has a Variance score : -0.15 ,but for the perfect variance score is 1.

In [184]:
Feature=qc_onehot_home_price[x_real]
Feature.head()

   Vietnamese Restaurant  ...  Vegetarian / Vegan Restaurant
0                      0  ...                              0
1                      0  ...                              0
2                      0  ...                              0
3                      0  ...                              0
4                      0  ...                              0

[5 rows x 14 columns]

In [186]:
XX = np.asarray(Feature)

### Conclusion Section

Finally, I have Montreal Home Price result!!!

In [187]:
housing_price = regr.predict(XX)
housing_price

array([[478535.75      ],
       [514960.        ],
       [472989.86363636],
       [472989.86363636],
       [471711.28571429],
       [471711.28571429],
       [472989.86363636],
       [472989.86363636],
       [472989.86363636],
       [293600.        ],
       [472989.86363636],
       [279189.        ],
       [472989.86363636],
       [499702.        ],
       [472989.86363636],
       [472989.86363636],
       [472989.86363636],
       [471711.28571429],
       [472989.86363636],
       [472989.86363636],
       [484444.        ],
       [472989.86363636],
       [472989.86363636],
       [499702.        ],
       [498784.66666667],
       [499702.        ],
       [472989.86363636],
       [472989.86363636],
       [514960.        ],
       [472989.86363636],
       [498784.66666667],
       [472989.86363636],
       [471711.28571429],
       [472989.86363636],
       [472989.86363636],
       [472989.86363636],
       [472989.86363636],
       [436369.66666667],
       [514960.        ],
       [498784.66666667],
       [514960.        ],
       [472989.86363636]])